<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 style="color: darkgreen">Welcome to {{ title }}!</h3>
      <div class="d-flex justify-content-center">
          <app-game-control (intvFrd)="onIntervalFired($event)" ></app-game-control>
      </div>
        <hr>
        <div class="modal-body row">
          <div class="col-md-6">
              <app-even-number *ngFor="let evenNumber of evenNumbers"
              [nmbr]="evenNumber"></app-even-number>
          </div>
          <div class="col-md-6">
              <app-odd-number *ngFor="let oddNumber of oddNumbers" 
              [nmbr]="oddNumber"></app-odd-number>
          </div>
        </div>
    </div>
  </div>
</div>

